.jumbotron{
  padding-bottom:30px;
  margin-bottom:30px;
  color:inherit;
  background-color:rgba(238,238,238,0);
}

.hero{
  background:url('../../assets/img/hero2.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  height:40vh;
  text-align:center;
}

.hero h1{
  color:#fff;
}

div.col-md-4.item{
  padding:0;
  margin:0 auto;
}

.intro .thumbnail img{
  width:70%;
  border-radius:50%;
}

.intro{
  padding-top:110px;
  padding-bottom:50px;
  margin-bottom:50px;
  min-height:60vh;
}

.intro .caption h2{
  text-align:left;
  padding-bottom:15px;
  color:black;
}

.intro .caption p{
  text-align:left;
  font-size:15px;
}

.caption{
  width:75%;
  margin:auto;
}

.intro .thumbnail{
  border:none;
  box-shadow:none;
}

h1{
  font-size:60px;
  font-family:'Vidaloka';
}

h2{
  font-size:48px;
  font-family:'Vidaloka';
}

p{
  font-size:16px;
  font-family:'Nanum Gothic';
}

.caption h2{
  font-size:30px;
}

div.container.book{
  background-color:#808589;
  background-image:url('../../assets/img/bed.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width:100%;
  height:40vh;
}

@media (min-width:1199px) {
  .book .text{
    color:white;
    float:right;
    width:25%;
    right:15%;
    position:relative;
  }
}

@media (max-width:767px) {
  .book .text{
    color:white;
    width:100%;
    position:relative;
    left:5%;
    font-size:90%;
  }
}

@media (min-width:767px) and (max-width:991px) {
  div.text{
    color:white;
    float:right;
    width:50%;
    position:relative;
    right:-20px;
  }
}

@media (min-width:991px) and (max-width:1199px) {
  .book .text{
    color:white;
    float:right;
    right:20px;
    width:40%;
    position:relative;
  }
}

button.btn.btn-default{
  left:50%;
  position:relative;
  transform:translate(-50%,0);
  font-family:'Vidaloka';
  font-size:20px;
  border:none;
  padding:8px 80px;
  border-radius:0;
}

@media (max-width:767px) {
  button.btn.btn-default{
    left:50%;
    position:relative;
    transform:translate(-50%,0);
    font-family:'Vidaloka';
    font-size:15px;
    border:none;
    padding:4px 50px;
    border-radius:0;
  }
}

.book .btn{
  font-weight:normal;
  text-align:center;
  vertical-align:middle;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  cursor:pointer;
  background-image:none;
  background-color:#493e4c;
  color:white;
  border:1px solid transparent;
  white-space:nowrap;
  padding:8px 12px;
  font-size:14px;
  line-height:1.42857143;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

@media (max-width:767px) {
  .book .btn{
    font-weight:normal;
    text-align:center;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    background-image:none;
    background-color:#493e4c;
    color:white;
    border:1px solid transparent;
    white-space:nowrap;
    padding:3px 8px;
    font-size:4px;
    line-height:1.42857143;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
}

@media (max-width:767px) {
  .book .btn{
    font-weight:normal;
    text-align:center;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    background-image:none;
    background-color:#493e4c;
    color:white;
    border:1px solid transparent;
    white-space:nowrap;
    padding:3px 8px;
    font-size:4px;
    line-height:1.42857143;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
}

.book h1{
  color:white;
  font-size:35px;
  padding-bottom:20px;
  padding-top:25px;
}

@media (max-width:767px) {
  .book h1{
    color:white;
    font-size:20px;
    padding-bottom:4px;
  }
}

.book p{
  padding-bottom:12px;
  width:75%;
}

@media (max-width:767px) {
  .book p{
    width:100%;
    font-size:12px;
  }
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
  color:#fff;
  background-color:#e09575;
  border-color:rgba(0,0,0,0.1);
}

.about_photo{
  background:linear-gradient(#fff, rgba(0,0,0,0), transparent), url('../../assets/img/town.jpg') no-repeat;
  background-size:cover;
  height:67vh;
  width:100%;
}

.about .text{
  height:30vh;
  background-color:#fff;
  position:relative;
  float:left;
  left:10%;
  width:75%;
}

.about i.material-icons{
  float:left;
  font-size:150%;
  color:#e09575;
}

.about h1{
  font-size:42px;
  font-family:'Vidaloka';
  color:#000;
  padding-bottom:15px;
}

.about p{
  color:black;
  -webkit-column-count:2;
  -moz-column-count:2;
  column-count:2;
}

div.location{
  height:3vh;
}

.location .btn.btn-default{
  position:relative;
  padding:0.5% 9%;
  transform:translate(-50%,-50%);
}

.location .btn{
  display:inline-block;
  margin-bottom:0;
  font-weight:normal;
  text-align:center;
  vertical-align:middle;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  cursor:pointer;
  background-image:none;
  background-color:#493e4c;
  color:white;
  border:1px solid transparent;
  white-space:nowrap;
  padding:8px 12px;
  font-size:14px;
  line-height:1.42857143;
  border-radius:4px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.offer img{
  border-radius:50%;
  width:90%;
  position:absolute;
}

.offer .text{
  width:66%;
  transform:translate(0,50%);
  padding-bottom:230px;
  padding-left:24px;
}

.offer .text h1{
  color:black;
  font-size:40px;
}

div.container.offer{
  padding-bottom:100px;
}

div.container.ask{
  height:40vh;
  width:100%;
  background-image:url('../../assets/img/ask.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  margin-top:150px;
}

.btn{
  display:inline-block;
  margin-bottom:0;
  font-weight:normal;
  text-align:center;
  vertical-align:middle;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  cursor:pointer;
  background-image:none;
  background-color:#493e4c;
  color:white;
  border:1px solid transparent;
  white-space:nowrap;
  padding:8px 12px;
  font-size:14px;
  line-height:1.42857143;
  border-radius:4px;
  top:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.ask_button .btn.btn-default{
  position:relative;
  transform:translate(-50%,-50%);
  padding:0.5% 9%;
}

footer.footer{
  padding-top:110px;
  border-top-left-radius:50% 50px;
  border-top-right-radius:50% 50px;
}

.hero .logo{
  width:400px;
  position:relative;
  top:33%;
  transform:translate(0,-50%);
}

.footer .logo{
  width:33%;
}

.hero .shade{
  height:100%;
  background-color:rgba(0,0,0,0.4);
}

.navbar{
  margin:0;
  width:100%;
  background-color:#493e4c;
}

.navbar-nav{
  float:right;
}

@media (max-width:991px) {
  .navbar .logo{
    height:40%;
    width:auto;
    position:relative;
    top:50%;
    transform:translateY(-50%);
  }
}

.navbar .logo{
  height:55%;
  width:auto;
  position:relative;
  top:50%;
  transform:translateY(-50%);
}

.navbar-default{
  background-color:#493e4c;
  border:none;
  box-shadow:none;
}

.navbar-default{
  border-radius:0;
  -webkit-box-shadow:none;
  box-shadow:none;
  background-image:none;
}

.navbar-collapse{
  padding-right:15px;
  padding-left:15px;
  overflow-x:hidden;
  -webkit-overflow-scrolling:touch;
  border-top:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}

@media (min-width:1200px) {
  .navbar-default .navbar-nav > li > a{
    color:#fff;
    margin-right:2vw;
    margin-left:2vw;
    font-family:'Vidaloka';
    font-size:16px;
    text-transform:uppercase;
  }
}

@media (max-width:1199px) {
  .navbar-default .navbar-nav > li > a{
    color:#fff;
    margin-right:2vw;
    margin-left:2vw;
    font-family:'Vidaloka';
    font-size:16px;
    text-transform:uppercase;
  }
}

@media (max-width:991px) {
  .navbar-default .navbar-nav > li > a{
    color:#fff;
    font-family:'Vidaloka';
    font-size:14px;
    text-transform:uppercase;
    padding-left:0;
  }
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover{
  color:#fff;
  background-color:transparent;
}

.navbar{
  min-height:80px;
}

.navbar-brand{
  padding:0 15px;
  height:80px;
  line-height:80px;
}

.navbar-toggle{
  margin-top:23px;
  padding:9px 10px !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a{
    padding-top:26.5px;
    padding-bottom:26.5px;
    line-height:27px;
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a{
    padding-top:26.5px;
    padding-bottom:26.5px;
    line-height:27px;
  }
}

@media (max-width:991px) {
  .offer img{
    border-radius:50%;
    position:absolute;
    width:50%;
    float:left;
  }
}

@media (max-width:991px) {
  .offer .text{
    float:right;
    width:50%;
    color:black;
    position:relative;
    transform:translateY(25%);
  }
}

@media (max-width:767px) {
  .offer .text{
    float:right;
    width:50%;
    color:black;
    position:relative;
    transform:translateY(0%);
  }
}

@media (max-width:767px) {
  .offer .text{
    padding-bottom:20px;
  }
}

@media (max-width:767px) {
  .offer{
    padding-bottom:20px;
    margin-bottom:0;
  }
}

@media (max-width:767px) {
  .ask{
    padding-top:0;
    margin:0;
  }
}

