.jumbotron{
  padding-bottom:30px;
  margin-bottom:30px;
  color:inherit;
  background-color:rgba(238,238,238,0);
}

.hero{
  background:url('../../assets/img/hero2.jpg');
  background-size:cover;
  background-repeat:no-repeat;
  height:40vh;
  text-align:center;
}

nav.navbar.navbar-default{
  margin:0;
  border:none;
}

.hero h1{
  color:#fff;
}

div.container-fluid{
  background-color:#493e4c;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
  color:#ffffff;
  background-color:rgba(23,138,204,0);
}

a.navbar-brand.navbar-link{
  padding-left:25vw;
  padding-right:10vw;
}

.navbar a{
  margin:0 12px;
}

div.col-md-4.item{
  padding:0;
  margin:0 auto;
}

.intro .thumbnail img{
  width:70%;
  border-radius:50%;
}

.intro{
  padding-top:110px;
  padding-bottom:50px;
  min-height:60vh;
}

.caption h3{
  text-align:center;
  padding-bottom:15px;
}

.caption p{
  text-align:left;
  font-size:90%;
}

.caption{
  width:75%;
  margin:auto;
}

.intro .thumbnail{
  border:none;
}

.container{
  margin:auto;
  padding-left:0;
  padding-right:0;
}

h1{
  font-size:60px;
  font-family:'Vidaloka';
}

h2{
  font-size:48px;
  font-family:'Vidaloka';
}

p{
  font-size:16px;
  font-family:'Nanum Gothic';
}

.caption h2{
  font-size:30px;
}

div.container.book{
  background-color:#808589;
  background-image:url('../../assets/img/bed.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width:100%;
  height:40vh;
}

@media (min-width:1199px) {
  div.text{
    color:white;
    float:right;
    width:25%;
    right:15%;
    position:relative;
  }
}

@media (max-width:767px) {
  div.text{
    color:white;
    width:100%;
    position:relative;
    left:5%;
    font-size:90%;
  }
}

@media (min-width:767px) and (max-width:991px) {
  div.text{
    color:white;
    float:right;
    width:50%;
    position:relative;
    right:-20px;
  }
}

@media (min-width:991px) and (max-width:1199px) {
  div.text{
    color:white;
    float:right;
    right:20px;
    width:40%;
    position:relative;
  }
}

button.btn.btn-default{
  left:50%;
  position:relative;
  transform:translate(-50%,0);
  font-family:'Vidaloka';
  font-size:20px;
  border:none;
  padding:8px 80px;
  border-radius:0;
}

@media (max-width:767px) {
  button.btn.btn-default{
    left:50%;
    position:relative;
    transform:translate(-50%,0);
    font-family:'Vidaloka';
    font-size:15px;
    border:none;
    padding:4px 50px;
    border-radius:0;
  }
}

.book .btn{
  font-weight:normal;
  text-align:center;
  vertical-align:middle;
  -ms-touch-action:manipulation;
  touch-action:manipulation;
  cursor:pointer;
  background-image:none;
  background-color:#493e4c;
  color:white;
  border:1px solid transparent;
  white-space:nowrap;
  padding:8px 12px;
  font-size:14px;
  line-height:1.42857143;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

@media (max-width:767px) {
  .book .btn{
    font-weight:normal;
    text-align:center;
    vertical-align:middle;
    -ms-touch-action:manipulation;
    touch-action:manipulation;
    cursor:pointer;
    background-image:none;
    background-color:#493e4c;
    color:white;
    border:1px solid transparent;
    white-space:nowrap;
    padding:3px 8px;
    font-size:4px;
    line-height:1.42857143;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
  }
}

.book h1{
  color:white;
  font-size:35px;
  padding-bottom:20px;
  padding-top:25px;
}

@media (max-width:767px) {
  .book h1{
    color:white;
    font-size:20px;
    padding-bottom:4px;
  }
}

.book p{
  padding-bottom:12px;
  width:75%;
}

@media (max-width:767px) {
  .book p{
    width:100%;
    font-size:12px;
  }
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
  color:#fff;
  background-color:#e09575;
  border-color:rgba(0,0,0,0.1);
}

.about_photo{
  background:linear-gradient(#fff, rgba(0,0,0,0), transparent), url('../../assets/img/town.jpg') no-repeat;
  background-size:cover;
  height:70vh;
  width:100vw;
}

.about .text{
  height:30vh;
  background-color:#fff;
  position:relative;
  float:left;
  left:10%;
}

.about i.material-icons{
  float:left;
  font-size:150%;
  color:#e09575;
}

.about h1{
  font-size:42px;
  font-family:'Vidaloka';
  color:#000;
}

.about p{
  color:black;
}

